name: ci

on:
  workflow_dispatch:
  schedule:
    # 每天 01:00 UTC 运行（= 新加坡时间 SGT 09:00）
    - cron: '0 1 * * *'
jobs:
  login:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 60
      matrix:
        repo:
            - supabase/studio
            - kong
            - supabase/gotrue
            - supabase/realtime
            - supabase/storage-api
            - supabase/imgproxy
            - supabase/postgres-meta
            - supabase/logflare
            - supabase/vector  
            - supabase/supavisor
            - supabase/postgres
            - darthsim/imgproxy
            - timberio/vector
            - node
            - postgrest/postgrest
            - linuxserver/webtop
    steps:
      - uses: actions/checkout@v4        
      -
        name: Login to GitLab
        uses: docker/login-action@v3
        with:
          registry: registry.ap-southeast-1.aliyuncs.com
          username: 2457395722@qq.com
          password: ${{ secrets.DOCKER_PASS }}

      - name: Run for ${{ matrix.repo }}
        env:
          REPO: ${{ matrix.repo }}
        run: |
            chmod +x sync-my.sh

            ./sync-my.sh


